POSTGRES_DB=kryptobot
POSTGRES_USERNAME=kryptobot
POSTGRES_PASSWORD=change_this_to_your_password
TELEGRAM_BOT_TOKEN=change_this_to_your_token
TELEGRAM_BOT_USERNAME=change_this_to_your_username
COIN_GECKO_KEY=change_this_to_your_key